---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Luka Ramp | Portfolio" description="A stunning portfolio built with Astro">
	<Header />
	<main>
		<Hero />
		<About />
		<Projects />
	</main>
	<Footer />
</Layout>
